:root {
    --border-color: rgba(215,215,215);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: text-fonts;
    src: url(Akkurat-Mono.OTF);
}

body {
    display: flex;
    flex-direction: column;
    background-color: rgba(239,239,239);
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

a {
    text-decoration: none;
    color: black;
}

nav {
    /* position: fixed; */
    display: flex;
    justify-content: center;
    width: 100%;
}

.nav-content {
    display: flex;
    width: 90%;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.logo {
    font-weight: bold;
    margin-left: 5rem;
    cursor: pointer;
}

.features {
    display: flex;
    width: 50%;
    gap: 2rem;
    font-size: 0.8rem;
}

header {
    height: 6vh;
    font-family: text-fonts;
    color: #ff4d00;
    display: flex;
    /* align-items: center; */
    /* justify-content: center; */
    padding: 0 5%;
}
/* 
.empty {
    width: 50%;
} */

header p {
    margin-left: 6rem;
    width: 50%;
    display: flex;
}

main {
    display: flex;
    justify-content: center;
    flex-grow: 1;
    align-items: center;
    flex-direction: column;
    /* padding-top: 2rem; */
    padding-bottom: 0.5rem;
}

.row-0, .row-2 {
    display: flex;
    justify-content: center;
    width: 100vw;
    height: 2.5vh;
    border-bottom: 1px solid var(--border-color);
    border-top: 1px solid var(--border-color);
}

.row-1 {
    display: flex;
    justify-content: center;
    width: 100vw;
    /* height: 80vh; */
    flex-grow: 1;
}

.inner-0, .inner-1, .inner-2 {
    width: 90%;
    height: 100%;
    display: grid;
    grid-template-columns: 1.5% 45% 1.5% 15% 1.5% 34% 1.5%;
}

.small {
    border-left: 1px solid var(--border-color);
    border-right: 1px solid var(--border-color);
}

.row-0 .large, .row-2 .large {
    background-color: #212121;
}

.row-0 .normal, .row-2 .normal {
    background-color: #8e8e8e;
}

#editor {
    width: 100%;
    background-color: rgba(239,239,239);;
    /* flex-grow: 1; */
    height: 100%;
    font-size: 0.85rem;
}

.inner-0 .large {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.inner-1 .normal {
    font-family: text-fonts;
    font-size: 0.8rem;
}   

.normal .btns {
    height: max-content;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
    font-weight: 100;
    color: rgb(100, 100, 100);
}

.small .pointer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 0;
    font-size: 0.8rem;
}

.editor-tabs {
    display: flex;
    align-items: center;
    color: #f5f5f5;
    font-size: 0.5rem;
    gap: 1rem;
    margin-left: 3rem;
    font-family: text-fonts;
}

.editor-tabs span {
    cursor: pointer;
}

.editor-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    margin-right: 1rem;
    font-size: 0.6rem;
}

.editor-icons span {
    cursor: pointer;
}

.tab-selected {
    color: #ff4d00;
}

.btn-selected {
    color: black;
    font-weight: 600;
}

.inner-0 .normal {
    display: flex;
    align-items: center;
    justify-content: end;
}
.inner-0 .normal .problem-list {
    color: #f5f5f5;
    font-size: 0.6rem;
    margin-right: 1rem;
    font-family: text-fonts;
    cursor: pointer;
}

.inner-2 .normal {
    display: flex;
    align-items: center;
    justify-content: end;
}

.move-btns {
    color: #f5f5f5;
    font-size: 0.7rem;
    margin-right: 1rem;
    font-family: text-fonts;
    display: flex;
    gap: 1rem;
}

.move-btns span {
    cursor: pointer;
}
